<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h2>Add to Meal Plan</h2>
    <p>Selected Recipe: {{ recipe.title }}</p>
    <div>
      <label for="day-select">Select Day:</label>
      <select id="day-select" [(ngModel)]="selectedDay">
        <option *ngFor="let day of daysOfWeek" [value]="day">{{ day }}</option>
      </select>
    </div>
    <div>
      <label for="meal-type-select">Select Meal Type:</label>
      <select id="meal-type-select" [(ngModel)]="selectedMealType">
        <option *ngFor="let mealType of mealTypes" [value]="mealType">{{ mealType }}</option>
      </select>
    </div>
    <button (click)="addToMealPlan()">Add to Meal Plan</button>
    <button (click)="closeModal()">Close</button>
  </div>
</div>