<div class="d-flex flex-column min-vh-100">
  <main class="flex-grow-1 px-5">
    <div class="container">  
        <h2>Your Grocery List</h2>
      
        <div class="grocery-grid">
          <div class="grocery-item" *ngFor="let ingredient of ingredients">
            <div class="grocery-item-name">{{ ingredient.originalName }}</div>
            <div class="grocery-item-amount">{{ ingredient.amount }} {{ ingredient.unit }}</div>
          </div>
        </div>
      
        <div class="grocery-actions">
          <button>Mark as purchased</button>
          <button>Clear List</button>
          <button>Download</button>
          <button>Add item</button>
        </div>
      
        <div class="item-details">
          <div *ngIf="selectedIngredient">
            <h4>{{ selectedIngredient.originalName }}</h4>
            <p>{{ selectedIngredient.amount }} {{ selectedIngredient.unit }}</p>
          </div>
        </div>
    </div>
  </main>
</div>